body,
html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif, serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  scroll-behavior: smooth;
  box-sizing: inherit;
}

:root {
  --white: #ffffff;
  --primary: #9873ff;
  --text-grey: #b0b0b0;
  --text-black: #333333;
  --modal-background: rgba(51, 51, 51, 0.6);
  --modal-grey: #c8c5d1;
  --modal-input-border: rgba(200, 197, 209, 0.5);
  --modal-dark-grey: #e7e5eb;
}

.container {
  padding: 0 20px;
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  background-color: var(--white);
  padding: 20px 0;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
    0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
  margin-bottom: 40px;
}

.header__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 53px;
}

.header__logo {
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  text-decoration: none;
}

.header__search {
  width: 581px;
  padding: 12px 16px;
  background: none;
  outline: none;
  border: 1px solid rgba(51, 51, 51, 0.2);
  font-family: 'Open Sans', sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-black);
}
.header__search::placeholder {
  color: var(--text-grey);
}

.main__column {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.main__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-black);
  margin-bottom: 10px;
}

.add-button {
  cursor: pointer;
  align-self: center;
  background-color: transparent;
  padding: 14px 26px;
  border: 1px solid var(--primary);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.2s ease-in-out;
}
.add-button path {
  transition: fill 0.2s ease-in-out;
}
.add-button:hover {
  background-color: var(--primary);
}
.add-button:hover path {
  fill: var(--white);
}

.add-button__title {
  margin: 0;
  font-family: 'Open Sans', sans-serif, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--primary);
  transition: color 0.2s ease-in-out;
}
.add-button:hover .add-button__title {
  color: var(--white);
}

.table {
  margin-bottom: 40px;
  border-collapse: collapse;
  border-spacing: 0;
}

.table__title {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-grey);
}
.table__title:first-child {
  padding: 0 10px 8px 20px;
}
.table__title:not(:first-child) {
  padding: 0 10px 8px 10px;
}

.table__id {
  padding: 20px 10px 20px 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-grey);
}

.table__name {
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-black);
}

.table__date {
  padding: 20px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-black);
}

.table__time {
  padding-left: 10px;
  color: var(--text-grey);
}

.table__contacts {
  padding: 20px 10px;
}

.table__contact-item {
  max-width: 16px;
  max-height: 16px;
  margin-right: 7px;
  cursor: pointer;
  display: inline-block;
}
.table__contact-item:last-child {
  margin-right: 0;
}

.table__buttons {
  padding: 20px 10px;
}

.table__edit-button {
  font-family: 'Open Sans', sans-serif, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 0 0 0 18px;
  margin-right: 30px;
  background: url('./assets/edit.svg') no-repeat left center / 16px 16px;
}

.table__remove-button {
  font-family: 'Open Sans', sans-serif, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 0 0 0 18px;
  background: url('./assets/remove.svg') no-repeat left center / 16px 16px;
}

.table__body-row {
  background-color: var(--white);
}

.table__body-row:not(:last-child) {
  border-bottom: 1px solid var(--modal-grey);
}

.table__body-empty {
  padding: 132px 474px;
  background-color: var(--white);
}

.table__body-loading {
  padding: 132px 474px;
  background-color: var(--white);
  text-align: center;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.table__loader svg {
  width: 36px;
  height: 36px;
  animation: loader 1.2s linear infinite;
}

.modal-background {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--modal-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 24px 30px 29px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal__close {
  padding: 0;
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 22px;
  background: none;
  outline: none;
  border: none;
}
.modal__close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--modal-grey);
  transform: rotate(45deg);
  transform-origin: top;
}
.modal__close::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  background-color: var(--modal-grey);
  transform: rotate(-45deg);
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-black);
  margin: 0 0 32px 0;
}

.modal__input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--modal-input-border);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-black);
  margin-bottom: 32px;
  padding: 0 0 4px 0;
}
.modal__input:last-child {
  margin-bottom: 25px;
}
.modal__input::placeholder {
  color: var(--text-grey);
}

.contacts-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px 30px;
  margin: 0 -30px;
  background-color: rgba(200, 197, 209, 0.3);
  margin-bottom: 25px;
}
.contacts-container .new-contact:first-child {
  margin-top: 17px;
}

.add-contact-btn {
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin: 0;
}
.new-contact + .add-contact-btn {
  margin-top: 10px;
  margin-bottom: 17px;
}

.add-contact-btn__title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-black);
  margin: 0;
}

.new-contact {
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.new-contact .choices {
  width: 100%;
  max-width: 123px;
  margin-bottom: 0;
}
.new-contact .choices__inner {
  padding: 9px 12px !important;
  border-radius: 0;
  background: var(--modal-dark-grey);
  border: 1px solid var(--modal-grey);
  min-height: auto;
}
.new-contact .choices__inner .choices__list--single {
  padding: 0;
}
.new-contact .choices__inner .choices__item {
  font-family: 'Open Sans', sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.new-contact .choices__list--dropdown.is-active .choices__item {
  font-family: 'Open Sans', sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.new-contact .choices__list--dropdown,
.new-contact .choices__list[aria-expanded] {
  background-color: #f4f3f6;
}
.new-contact .choices__list--dropdown .choices__item--selectable,
.new-contact .choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 0;
}
.new-contact .choices__list--dropdown .choices__item--selectable.is-highlighted,
.new-contact
  .choices__list[aria-expanded]
  .choices__item--selectable.is-highlighted {
  background-color: var(--modal-dark-grey);
}
.new-contact .choices__list--dropdown .choices__item,
.new-contact .choices__list[aria-expanded] .choices__item {
  padding: 5px 0 5px 12px;
}
.new-contact .choices[data-type*='select-one']::after {
  content: '';
  height: 6px;
  width: 10px;
  border: none;
  background: url('assets/choices-arrow.svg') no-repeat center;
  position: absolute;
  right: 9px;
  top: 16px;
  margin-top: 0;
  pointer-events: none;
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}
.new-contact .choices[data-type*='select-one'].is-focused.is-open::after {
  content: '';
  height: 6px;
  width: 10px;
  border: none;
  background: url('assets/choices-arrow.svg') no-repeat center;
  position: absolute;
  right: 9px;
  top: 16px;
  margin-top: 0;
  pointer-events: none;
  transition: transform 0.2s ease-in-out;
  transform: rotate(0);
}

.new-contact__input {
  width: 100%;
  outline: none;
  padding: 8px 12px;
  margin-left: -1px;
  border: 1px solid var(--modal-grey);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-black);
}
.new-contact__input::placeholder {
  font-weight: 400;
  color: var(--text-grey);
}

.new-contact__delete {
  cursor: pointer;
  width: 100%;
  height: 37px;
  outline: none;
  max-width: 27px;
  margin-left: -1px;
  border: 1px solid var(--modal-grey);
  background-color: var(--modal-dark-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-btn {
  align-self: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--primary);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white);
  margin-bottom: 5px;
  padding: 13px 35px;
  transition: background-color 0.2s ease-in-out;
}
.save-btn:disabled {
  background-color: var(--modal-grey);
}

.cancel-btn {
  align-self: center;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
  color: var(--text-black);
}
