body,
html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  scroll-behavior: smooth;
  box-sizing: inherit;
}

.container {
  padding: 0 70px;
  max-width: 1920px;
  margin: 0 auto;
}

.hello {
  font-size: 32px;
  color: green;
}
